/* Nav */
.body-1{
    display: flex;
    flex-direction: row;
    background-color: rgb(186, 185, 185);
    padding:0;
    margin:0;
    background-color:whitesmoke;
}
.container{
    display: flex;
    background-color: rgb(0, 61, 61);
    width: 100%;
    height: 42px;
    position: relative;
}
.container1{
    display: block;
    padding:0;
    position: relative;
    left:360px;
}
#box{
        position: fixed;
        top:0;
        z-index:1;
}
.box{
    list-style-type: none;
    display: flex;
    z-index:1;
}
.list{
    display: flex;
    padding:0 25px;
    z-index:1;
}
.sub-list{
    display: block;
}
.sub-list:hover .list2-1,
.sub-list:hover .list2-2,
.sub-list:hover .list2-3{
    display: block;
}
.list2-1{
    position: absolute;
    left:170px;
    background-color: rgba(27, 55, 58, 0.652);
    display: none;
    border-radius:3px 20px;
    overflow: hidden;
}
.list2-2{
    position: absolute;
    background-color: rgba(27, 55, 58, 0.652);
    display: none;
    border-radius:3px 20px;
    overflow: hidden;
}
.list2-3{
    position: absolute;
    left:67%;
    background-color: rgba(27, 55, 58, 0.652);
    display: none;
    border-radius:3px 20px;
    overflow: hidden;
}
.sub-list1{
    display: block;
    
    position: relative;
    padding:9px 0;
}
.sub-list1:hover{
    border-bottom: 1px solid black;
    background-color:rgba(34, 255, 255, 0.2);
}
.txt3{
    color:rgb(179, 255, 97);
    text-decoration: none;
    width:100px;
    font-size: 14px;
    padding:10px;
    font-family: sans-serif;
}
.txt3:hover{
    color:rgb(0, 255, 229);
    font-weight: bold;
}
.a1{
display: flex;
padding:5px 25px;
text-align: center;
text-decoration: none;
color:rgb(171, 171, 171);
font-size: large;
font-family: monospace;
font-weight: bold;
border:1px solid rgba(0, 128, 0, 0);
border-radius:6px 40px;
position:relative;
top:-10px;
z-index:1;
}
.a1:hover{
color:rgb(0, 137, 167);
background-color:rgb(0, 255, 255);
border:1px solid green;
}
/* MainPage */
.sub-container{
    position: absolute;
    top:43px;
    display: block;
    height: 1012px; 
}
.outer_fb{
    z-index: 1;
    position: absolute;
    right:0;
}
.fb_img{
    width:40px;
}
.outer_ig{
    z-index: 1;
    position: absolute;
    top:40px;
    right:0;
}
.ig_img{
    width: 40px;
}
.img2{
    width:390px;
    border:1px solid rgb(142, 142, 142);
    border-style: outset;
    border-radius:390px;
    position: relative;
    top:-1000px;
}
.box2{
    display: block;
    position: absolute;
    top:140px;
    right:100px;
}
.img3{
    width:350px;
}
.box1{
    width:50%;
    display: flex;
    position: absolute;
    top:0;
    left:440px;
}
.loginAdmin{
    width:50%;
    display: flex;
    position: absolute;
    top:420px;
    left:80px;
}
.lgAn{
    color:rgb(105, 105, 105);
    font-size: large;
    font-family: cursive;
    font-weight: bold;
    background-color:rgba(171, 171, 171, 0.183);;
    text-decoration: none;
    border: 1px solid green;
    border-radius:0 6px;
    padding:10px 30px;
}
.lgAn:hover{
    background-color: rgb(0, 61, 61);
    color: greenyellow;
}
.txt1{
    width:95%;
    font-size: 65px;
    color:rgb(0, 61, 61);
    font-family: Lucida Handwriting;
    font-weight: bolder;
    background-color: rgba(255, 235, 205, 0.333);
    border:1px solid gainsboro;
    border-radius:5px 60px;
    display: block;
}
.box3{
    position: absolute;
    top:850px;
    left:360px;
    width:900px;
}
.txt2{
    color:rgb(0, 208, 255);
    font-size: xx-large;
    font-weight: 600;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-overflow: ellipsis;
}
/* Home */
.sub-container1{
    width:98%;
    height: 800px;
    background-color: rgb(230, 229, 229);
    margin:13px;
    border-radius: 20px;
    display: block;
    position: absolute;
    top:1055px;
    left:1px;
}

.cards1{
    width:700px;
    height:100px;
    display: block;
    position: absolute;
    left:44%;
}

#Home{
    color:rgb(0, 89, 255);
}
.cards1-1{
    width: 44%;
    height: 280px;
    padding:20px;
    border-radius: 20px;
    position: absolute;
    top:100px;
    left:700px;
}
.cards1-1:hover,.cards1-2:hover{
    background-color: whitesmoke;
    box-shadow: 0 0 40px darkolivegreen;
}
.cards1-2{
    width: 44%;
    height: 260px;
    padding:20px;
    border-radius: 20px;
    position: absolute;
    top:440px;
    left:700px;
}
.home1{
    color:rgb(0, 160, 64);
    font-family: cursive;
}
.cards1-1:hover .home1,.cards1-2:hover .home1{
    text-shadow: 0 2px green;
}
.home2{
    color:rgb(92, 92, 92);
    font-family: cursive;
    text-indent: 20px;
    letter-spacing: 1px;
    word-spacing: 2px;
}
.cards1-3{
    width: 340px;
    height: 614px;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top:100px;
    left:140px;
}
.cards1-3:hover{
    box-shadow: 0 0 20px darkolivegreen;
}
.img1-31{
    width:340px;
    height: auto;
}
/* About*/
.sub-container2{
    width:98%;
    height: 800px;
    background-color: rgb(230, 229, 229);
    margin:13px;
    border-radius: 20px;
    z-index: -2;
    display: flex;
    position: absolute;
    top:1866px;
    left:1px;
}

.cards2-1{
    width:300px;
    height: 200px;
    z-index: -1;
    border-radius:420px 10px;
    transition-timing-function: ease;
    transition: 1s;
    overflow: hidden;
    position: absolute;
    top:130px;
    left:40px;
}
.cards2-1:hover,
.cards2-2:hover{
    width:300px;
    height: 600px;
    background-color: rgb(152, 182, 125);
    border-radius:40px 10px;
    border:1px solid gray;
    overflow: hidden;
    z-index: 1;
    position: absolute;
    top:130px;
    left:40px;
}
.cards2-4:hover,
.cards2-5:hover{
    width:300px;
    height: 600px;
    background-color: rgb(141, 126, 104);
    border-radius:40px 10px;
    border:1px solid gray;
    overflow: hidden;
    z-index: 1;
    position: absolute;
    top:130px;
    left:350px;
}
.h2{
    color:cornsilk;
    text-shadow:0 0 6px black;
    filter: blur(.6px);
    filter: drop-shadow(2px);
    position: absolute;
    top:5px;
    left:126px;
    z-index: 1;
}
.h2-2{
    color:cornsilk;
    text-shadow:0 0 6px black;
    filter: blur(.6px);
    filter: drop-shadow(2px);
    position: absolute;
    top:144px;
    left:14px;
    z-index: 1;
}
.h2-3{
    color:cornsilk;
    font-size: 30px;
    text-shadow:0 0 6px black;
    filter: blur(.6px);
    filter: drop-shadow(2px);
    position: absolute;
    top:-10px;
    left:120px;
    z-index: 1;
}
.h2-4{
    color:cornsilk;
    font-size: 30px;
    text-shadow:0 0 6px black;
    filter: blur(.6px);
    filter: drop-shadow(2px);
    position: absolute;
    top:-14px;
    left:120px;
    z-index: 1;
}
.h3{
    width:190px;
    color:cornsilk;
    filter: blur(.6px);
    filter: drop-shadow(2px);
    position: absolute;
    top:140px;
    left:10px;
    display: none;
}
.p1{
    display: none;
    transition-timing-function: ease;
    transition-duration: 1s;
    color:rgb(47, 47, 47);
    padding:14px;
    text-indent: 15px;
    font-family: cursive;
    z-index: 1;
    position: absolute;
    top:200px;
    text-rendering: geometricPrecision;
}
.cards2-1:hover .p1,
.cards2-2:hover .p1,
.cards2-4:hover .p1-2,
.cards2-5:hover .p1-2,
.cards2-1:hover .h3{
    display: block;
    transition-timing-function: ease;
    transition-duration: 3s;
}
.span1{
    font-size: xx-large;
    font-weight: bold;
}
.img4{
    width:300px;
    height: 200px;
    z-index: -1;
    
    transition-timing-function: ease;
    transition: 1s;
    position: absolute;
    top:0;
}
.img4:hover{
    width:300px;
    background-size: cover;
    position: absolute;
}
.cards2-2{
    width:300px;
    height: 200px;
    z-index: -1;
    border-radius:420px 10px;
    transition-timing-function: ease;
    transition: 1s;
    overflow: hidden;
    position: absolute;
    top:390px;
    left:40px;
}
.img4-1{
    width:100px;
    height: 100px;
    z-index: -1;
    transition-timing-function: ease;
    transition: 1s;
    position: absolute;
    left:-1px;
}
.img4-1:hover{
    width:100px;
    background-size: cover;
    position: absolute; 
}
.cards2-3{
    width:200px;
    height: 100px;
    z-index: -1;
    border-radius:160px 40px 40px 160px;
    transition-timing-function: ease;
    transition: 1s;
    overflow: hidden;
    position: absolute;
    bottom:60px;
    left:700px;
}
.cards2-3:hover .p1-1{
    display: block;
    transition-timing-function: ease;
    transition-duration: 3s;
}
.cards2-3:hover{
    width:700px;
    height: 100px;
    background-color: rgb(218, 218, 218);
    border-radius:160px 40px 40px 160px;
    border:1px solid gray;
    overflow: hidden;
    z-index: 1;
    position: absolute;
    bottom:60px;
}
.p1-1{
    display: none;
    transition-timing-function: ease;
    transition-duration: 1s;
    color:rgb(47, 47, 47);
    padding:14px;
    text-indent: 15px;
    text-shadow: 0 0 3px green;
    font-family: cursive;
    position: absolute;
    top:-20px;
    left:85px;
    text-rendering: geometricPrecision;
}
.cards2-4{
    width:300px;
    height: 200px;
    z-index: -1;
    border-radius:420px 10px;
    transition-timing-function: ease;
    transition: 1s;
    overflow: hidden;
    position: absolute;
    top:130px;
    left:350px;
}
.cards2-5{
    width:300px;
    height: 200px;
    z-index: -1;
    border-radius:420px 10px;
    transition-timing-function: ease;
    transition: 1s;
    overflow: hidden;
    position: absolute;
    top:390px;
    left:350px;
}
.p1-2{
    display: none;
    transition-timing-function: ease;
    transition-duration: 1s;
    color:rgb(255, 255, 255);
    padding:14px;
    text-indent: 15px;
    font-family: cursive;
    z-index: 1;
    position: absolute;
    top:200px;
    text-rendering: geometricPrecision;
}
.img4-2{
    width:300px;
    height: 200px;
    z-index: -1;
    transition-timing-function: ease;
    transition: 1s;
    position: absolute;
    top:0;
}
.img4-2:hover{
    width:300px;
    height: 400px;
    background-size: cover;
    position: absolute;
}
.cards2-6{
    width: 630px;
    height: 120px;
    padding:0 10px;
    border-bottom: 2px solid olivedrab;
    position: absolute;
    top:120px;
    left:770px;
}
.cards2-7{
    width: 630px;
    height: 140px;
    padding:0 10px;
    border-bottom: 2px solid olivedrab;
    position: absolute;
    top:270px;
    left:800px;
}
.cards2-8{
    width: 630px;
    height: 140px;
    padding:0 10px;
    border-bottom: 2px solid olivedrab;
    position: absolute;
    top:440px;
    left:770px;
}
.cards2-6:hover,.cards2-7:hover,.cards2-8:hover{
    background-color: rgb(216, 216, 216);
    border-radius: 15px;
}
.cardbox1-1{
    text-shadow: 0 0 1px rgb(1, 174, 1);
}
.cards2-6:hover .cardbox1-1,.cards2-7:hover .cardbox1-1,.cards2-8:hover .cardbox1-1{
    text-shadow: 0 0 2px rgb(1, 174, 1);
}
/* Services */
.sub-container3{
    width:98%;
    height: 800px;
    background-color: rgb(230, 229, 229);
    margin:13px;
    border-radius: 20px;
    display: flex;
    position: absolute;
    top:386%;
    left:1px;
}
.cards3{
    width:28%;
    height: 190px;
    padding:20px;
    border-radius: 20px;
    position: absolute;
    top:120px;
    left:26px;
}
.cards3:hover,.cards3-0:hover,.cards3-1:hover,.cards3-2:hover,.cards3-3:hover,.cards3-4:hover{
    background-color: rgb(220, 219, 219);
    border:1px solid rgb(176, 176, 176);
    box-shadow: 0 0 30px rgb(0, 61, 61);
}
.cardbox31{
    font-family: cursive;
    color:rgb(0, 255, 255);
    text-shadow: 0 0 10px rgb(252, 117, 0);
}
.cardbox32{
    font-size: 14px;
    font-family: cursive;
    color:rgb(65, 65, 65);
    word-spacing: 1px;
    line-height: 22px;
}
.cards3-0{
    width:28%;
    height: 190px;
    padding:20px;
    border-radius: 20px;
    position: absolute;
    top:120px;
    left:514px;
}
.cards3-1{
    width:28%;
    height: 320px;
    padding:20px;
    border-radius: 20px;
    position: absolute;
    top:380px;
    left:1000px;
}
.cards3-2{
    width:28%;
    height: 320px;
    padding:20px;
    border-radius: 20px;
    position: absolute;
    top:380px;
    left:26px;
}
.cards3-3{
    width:28%;
    height: 330px;
    padding:20px;
    border-radius: 20px;
    position: absolute;
    top:380px;
    left:514px;
}
.cards3-4{
    width:28%;
    height: 190px;
    padding:20px;
    border-radius: 20px;
    position: absolute;
    top:120px;
    left:1000px;
}
/* Links */
.containerN{
    width:100%;
    height:450px;
    color:whitesmoke;
    background-color: rgb(130, 224, 42);
    border-top-left-radius: 620px;
    position: absolute;
    top:505%;
}
.links0{
    font-family: cursive;
    letter-spacing: 4px;
    position: absolute;
    top:1px;
    left: 550px;
}
.google1{
    color:blue;
}
.google2{
    color:red;
}
.google3{
    color:yellow;
}
.google4{
    color:blue;
}
.google5{
    color:green;
}
.google6{
    color:red;
}
.links1{
    width:1100px;
    line-height: 25px;
    position: absolute;
    top:50px;
    left:400px;
}
.list1{
    list-style-type: none;
}
.a11{
    color:whitesmoke;
    font-family: cursive;
    text-decoration: none;
}
a:hover{
    color:rgb(48, 121, 47);
}
.a12{
    color:white;
    text-decoration: none;
}
.l1{
    border-bottom: 1px solid gray;
    padding-top: 6px;
}
.links2{
    line-height: 25px;
    position: absolute;
    top:260px;
    left:400px;
}
.links3{
    color:whitesmoke;
    position: absolute;
    top:400px;
    left:440px;
}
.links4{
    position: absolute;
    bottom:40px;
    right:80px;
}
.btn{
    padding:10px 25px;
    background-color:rgb(39, 216, 39);
    border: 1px solid rgb(28, 192, 28);
    border-style: outset;
    border-radius: 20px;
}
.cont{
    color:whitesmoke;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}
.btn:hover{
    background-color: rgb(20, 211, 20);
}